.productsContainer .carrouselTop {
    margin-bottom: 2vw;
}

.carrouselTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrouselControll {
    display: flex;
    gap: 2rem;
}

.carrouselControll button {
    cursor: pointer;
    padding: 1rem;
}
.carrouselControll button svg {

transition: linear .25s;
}

.carrouselControll button:hover svg {
    transform: scale(1.2);
}

.carrouselControll .arrowDisabled {
    opacity: 0.5;
    pointer-events: none;
}

.carrouselContainer {
    display: flex;
    gap: 2rem;
    transition: transform .25s;
}

.carrouselContainer * {
    flex-shrink: 0;
}

@media (min-width: 2000px) {
    .productsContainer .carrouselTop {
        margin-bottom: 2rem;
    }
}