.notify {
    background: #F9B404;
    color: black;
    animation: fade .75s forwards;
    z-index: 9999999;
    transition: linear .75s;
    padding: 1.5rem 4rem;
    border-radius: .5rem;
    border: 1px solid black;
}

@keyframes fade {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.notification-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    top: 5rem;
    gap: 1rem;
}