#findIdealBike {
    padding: 0 7.5vw;
}

.findIdealGrid {
    position: relative;
    display: flex;
    pointer-events: none;
    overflow: hidden;
    place-content: center;
}

.findIdealGrid img {
    display: block;
    height: auto;
    width: 100%;
}

.findIdealText {
    pointer-events: all;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    text-align: center;
}

.bgShadowFind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.25);
}