@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  font-family: 'Kanit', sans-serif;
}
:root {
  /*COLORS*/
  --base-color: #F9B404;
  --hover-btn-color: #eb9b07;
  --black: #0000;
  --dark-gray: #393939;
  --gray: #727272;
  --tiny-gray: #C6C6C6;
  --white-gray: #DDDDDD;
  --white: #F5F5F5;
  --white-white: #FFFFFF;
}
.title1, .title2, .title3, .title4, .sub-title1, .sub-title2, .btn {
  font-family: 'Kanit', sans-serif;
}
.paragraph1, .paragraph2 {
  font-family: 'Open Sans', sans-serif;
}

.title1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.28px;
}
.title2 {
  font-size: 3em;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.96px;
}
.title3 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.4px;
}
.title4 {
  font-size: 2em;
  font-weight: 600;
  line-height: 110%;
}
.sub-title1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
}
.sub-title2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
}
.paragraph1 {
  font-size: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}
.paragraph2 {
  font-size: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
}
.btn {
  background: var(--base-color);
  color: black;
  padding: 1.25rem 1.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.4px;
  font-size: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .25s;
}

.btn:hover {
  background: var(--hover-btn-color);
}

.btn2 {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 1.25rem 1.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.4px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}